.ciocolată {
  background-color: rgb(132,86,60, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  text-align: center;
  font-size:23px;
  font-family:verdana;
}
.vanilie {
  background-color: rgb(214,197,175, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-size:23px;
  font-family:verdana;
}
.lamaie {
  background-color: rgb(222, 238, 79, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-size:23px;
  font-family:verdana;
}
.menta {
  background-color: rgba(119, 226, 155, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-size:23px;
  font-family:verdana;
}
.caramel {
  background-color: rgb(197,115,61, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-size:23px;
  font-family:verdana;}
.capsune {
  background-color:rgb(252,179,172, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-size:23px;
  font-family:verdana;}
.fistic {
  background-color: rgb(147,207,127, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-size:23px;
  font-family:verdana;}
.fructepadure {
  background-color: rgb(169,166,216, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-size:23px;
  font-family:verdana;}
.tiramisu {
  background-color: rgb(212,190,167, 0.877);
  color: whitesmoke;
  border: 2px solid black;
  padding: 20px;
  margin: 5px;
  text-align: center;
  font-size:23px;
  font-family:verdana;}
.ver
{
  text-align: left;
  font-size: medium ;
  font-size: 22px;
}
p { text-align: left ;}


